[Desktop Entry]
Type=Application
Name={{name}}
Comment={{comment}}
Exec={{exec}} %u
Icon={{icon}}
Terminal=false
Categories=Network;
StartupWMClass=linuxdo-tauri
MimeType=x-scheme-handler/discourse;
